* { box-sizing: border-box; }

html {
  background-color: var(--background);
  color: var(--color);
  font-size: 10px;
  height: 100%;
  line-height: $line-height;
}

body {
  font-family: var(--font-regular);
  font-size: $font-size;
  font-weight: 400;
  min-height: 100%;
}

main {
  transform: translateY(60px);
  transition: transform $duration;

  .is-scrolling-down & {
    transform: translateY(0);
  }
}

h1,
h2,
h3,
h4 {
  margin: $spacer 0;
}

a {
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .container,
  .container-fluid {
    padding-left: $grid-gutter-width * 2;
    padding-right: $grid-gutter-width * 2;
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .page {
    //
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .page {
    //
  }
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) {
//   h1 { font-size: 40px; }
//   h2 { font-size: 34px; }
//   h3 { font-size: 28px; }
//   h4 { font-size: 22px; }
// }

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .page {
    //
  }
}
