* { box-sizing: border-box; }

html {
  background-color: var(--primary);
  color: var(--secondary);
  font: 400 #{10px}/#{$line-height} font(primary);
  height: 100%;
}

body {
  font-size: $font-size;
  min-height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: $spacer 0;
}

// h1 {
//   font-size: 2.4417em; /* 43.95px */
//   line-height: 1.2287em; /* 54px */
//   margin-bottom: 0;
//   margin-top: 0.6143em;
// }

// h2 {
//   font-size: 1.9528em; /* 35.15px */
//   line-height: 1.5363em; /* 54px */
//   margin-bottom: 0;
//   margin-top: 0.7681em;
// }

// h3 {
//   font-size: 1.5628em; /* 28.13px */
//   line-height: 1.9197em; /* 54px */
//   margin-bottom: 0;
//   margin-top: 0.9598em;
// }

// h4 {
//   font-size: 1.25em; /* 22.5px */
//   line-height: 1.2em; /* 27px */
//   margin-bottom: 0;
//   margin-top: 1.2em;
// }

a {
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
}

.section {
  background-color: var(--primary);
  color: var(--secondary);
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .container,
  .container-fluid {
    padding-left: $grid-gutter-width * 2;
    padding-right: $grid-gutter-width * 2;
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .page {
    //
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .page {
    //
  }
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) {
//   h1 { font-size: 40px; }
//   h2 { font-size: 34px; }
//   h3 { font-size: 28px; }
//   h4 { font-size: 22px; }
// }

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .page {
    //
  }
}
