<example-store inline-template>
  <div class="example">
    <button class="example__button" @click="increase">Add 1</button>
    <p>The button above has been clicked <span v-text="count">0</span> times.</p>
  </div>
</example-store>
