{{ if source }}
  {{ if !unwrap }}
  <section class="section section--{{ type }} theme-{{ section_theme or 'default' }}">
    <div class="container">
  {{ /if }}
    {{ assets:source }}
    <{{ if caption }}figure{{ else }}div{{ /if }} 
      class="media media--picture picture{{#
        #}} media--{{ if width > height }}landscape{{ else }}portrait{{ /if }}{{#
        #}} media--{{ picture_style or 'normal' }}{{#
        #}}{{ if label }} media--has-label{{ /if }}{{#
        #}}{{ if filter != 'none' }} media--filter-{{ filter }}{{ /if }}">

        <picture class="media__wrapper">
          {{ partial:media-label }}
          <img class="media__el" src="{{ url }}" alt="{{ alt }}" loading="lazy" width="{{ width }}" height="{{ height }}" style="object-position: {{ focus_css }}">
        </picture>
      
      {{ if caption }}
        <figcaption class="media__caption">{{ caption }}</figcaption>
      {{ /if }}
    </{{ if caption }}figure{{ else }}div{{ /if }}>
    {{ /assets:source }}
    
  {{ if !unwrap }}</div></section>{{ /if }}
{{ /if }}
