{{ if source }}
  {{ if section }}<section class="section section--{{ type }}"><div class="container">{{ /if }}
    <{{ if caption }}figure{{ else }}div{{ /if }} class="picture__wrapper">
      {{ assets:source }}
        <picture class="picture picture--{{ if width > height }}landscape{{ else }}portrait{{ /if }}{{ if label }} picture--has-label{{ /if }}{{ if filter != 'none' }} picture--filter-{{ filter }}{{ /if }}">
          {{ if label }} 
            <strong class="picture__label">
              <span class="picture__label__text">{{ label }}</span>
            </strong>
          {{ /if }}
          <img class="picture__image" src="{{ url }}" alt="{{ alt }}" loading="lazy" width="{{ width }}" height="{{ height }}">
        </picture>
      {{ /assets:source }}
  
      {{ if caption }}
        <figcaption class="picture__caption">{{ caption }}</figcaption>
      {{ /if }}
    </{{ if caption }}figure{{ else }}div{{ /if }}>
    
  {{ if section }}</div></section>{{ /if }}
{{ /if }}
