{{ if source }}
  {{ if !unwrap }}
  <section class="section section--{{ type }} theme-{{ section_theme or 'default' }}">
    <div class="container">
  {{ /if }}
    <{{ if caption }}figure{{ else }}div{{ /if }} class="picture__wrapper">
      {{ assets:source }}
        <picture class="picture picture--{{ if width > height }}landscape{{ else }}portrait{{ /if }}{{ if label }} picture--has-label{{ /if }}{{ if filter != 'none' }} picture--filter-{{ filter }}{{ /if }}">
          {{ partial:media-label }}
          <img class="picture__image" src="{{ url }}" alt="{{ alt }}" loading="lazy" width="{{ width }}" height="{{ height }}">
        </picture>
      {{ /assets:source }}
  
      {{ if caption }}
        <figcaption class="picture__caption">{{ caption }}</figcaption>
      {{ /if }}
    </{{ if caption }}figure{{ else }}div{{ /if }}>
    
  {{ if !unwrap }}</div></section>{{ /if }}
{{ /if }}
