{{ if !unwrap }}
<section class="section {{ type }}{{#
  #}} split--{{ left_column }}{{ type }}{{ /left_column }}-{{ right_column }}{{ type }}{{ /right_column }}{{#
  #}} theme-{{# 
  #}}{{ if section_theme == left_theme && section_theme == right_theme }}{{ section_theme or 'default' }}{{# 
  #}}{{ else }}custom{{ /if }}">
  <div class="container">
{{ /if }}

  <div class="row">
    {{ left_column scope="left" }}
      <div class="split__column{{#
              #}} split__column--left{{# 
              #}} split__column--{{ left }}{{ type }}{{ /left }}{{# 
              #}} theme-{{ left_theme }}">
        <div class="split__content">
          {{ left }}
            {{ partial src="{type}" unwrap="true" }}
          {{ /left }}
        </div>
      </div>
    {{ /left_column }}

    {{ right_column scope="right" }}
      <div class="split__column{{#
        #}} split__column--right{{# 
        #}} split__column--{{ right }}{{ type }}{{ /right }}{{# 
        #}} theme-{{ right_theme }}">
        <div class="split__content">
          {{ right }}
            {{ partial src="{type}" unwrap="true" }}
          {{ /right }}
        </div>
      </div>
    {{ /right_column }}
  </div>
{{ if !unwrap }}</div></section>{{ /if }}