.youtube {
  $el: &;

  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 0;
  margin: auto;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  &__wrapper {
    left: $grid-gutter-width*-1;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: calc(100% + #{$grid-gutter-width*2});
  }

  iframe,
  &__frame,
  &__poster,
  &__player {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__frame {
    overflow: hidden;
  }

  &__poster {
    left: 0;
    object-fit: cover;
    top: 0;
  }

  &__player {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $duration, transform 0s $duration visibility 0s $duration;
    visibility: hidden;
  }

  &__button {
    @extend %button-play;

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .media-label {
    opacity: 1;
    transform: translateY(0);
    transition: transform $duration;
  }

  &__caption {
    @extend %caption;
  }

  &.is-playing {
    #{$el}__player {
      opacity: 1;
      transform: translateX(0);
      transition: opacity $duration ease;
      visibility: visible;
    }

    #{$el}__button { opacity: 0; }

    .media-label {
      opacity: 0;
      transform: translateY($grid-gutter-width*0.5);
    }
  }

  &--filter-highlight {
    background-color: var(--highlight);

    #{$el}__poster {
      filter: grayscale(80%) contrast(1.25);
      mix-blend-mode: multiply;
      opacity: 0.75;
    }
  }

  &--has-label {
    + #{$el}__caption {
      margin-top: 1.5em;
    }
  }
}

@include media-breakpoint-up(sm) {
  .youtube {
    &__wrapper {
      left: initial;
      width: 100%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .youtube {
    &__wrapper { width: 83.33333%; } // 10 Bootstrap columns
  }
}
