/**
 * Animations
 * ==========
 * |– fade
 */

@mixin fade($type, $duration: 1s) {
  @if not index('in' 'out', $type) {
    @error 'Type must be `in` or `out`.';
  } @else if not is-time($duration) {
    @error '`#{$duration}` is not a valid time.';
  }

  @if $type == 'in' {
    opacity: 1;
    transition: opacity $duration, visibility 0s;
    visibility: visible;
  } @else if $type == 'out' {
    opacity: 0;
    transition: opacity $duration, visibility 0s $duration;
    visibility: hidden;
  }
}
