:root {
  --outline: #ffd91b;
}

$duration: 0.3s;

// 2) Bootstrap

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$grid-gutter-width: 30px;

$spacer: 20px;

// 3) Colors

$colors: (
  black: (
    base: #000,
  ),
  grey: (
    dark: #333,
    base: #808080,
    light: #ccc,
  ),
  white: (
    base: #fff,
  ),
);

$themes: (
  dark: (
    primary: #000,
    secondary: #fff,
  ),
  light: (
    primary: #fff,
    secondary: #000,
  ),
  green: (
    primary: #9de2a1,
    secondary: #000,
  ),
  pink: (
    primary: #e0b0a2,
    secondary: #000,
  ),
);

// 4) Math

$pi: 3.141592653589793;

// 5) Sizes

// 6) Typography

$font-size: 1.6rem; // 16px
$line-height: 1.5;

$fonts: (
  sans-serif: #{'Helvetica Neue', 'Helvetica', 'Arial', sans-serif},
  serif: #{'Georgia', 'Times', 'Times New Roman', serif},
);
